body{
    background-color:bisque;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}
h1{
    margin: 0;
    padding: 5px;
    background-color:brown;
    text-align: center;
    color: aliceblue;
}
main{
    padding: 20px;
    text-align: center;
}
.metric{
    padding: 3px;
    margin: 20px;
    background-color: white;
    border: 10px solid #C4A484;
}
#alertButton{
    border-radius: 20px;
    padding: 10px;
    background-color: brown;
    color: aliceblue;
}
#alertButton:hover {
    background-color: coral;
}